@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
    background-image: linear-gradient(58.2deg, rgba(40, 91, 212, 0.73) -3%, rgba(171, 53, 163, 0.45) 79.3%, rgba(236, 192, 111, 0.37) 97.7%);
}

.fs-5:hover i {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.btn-group a {
    font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Sans', sans-serif;
    padding: 0;
}

.btn-primary,
.badge.bg-primary {
    background-color: rgba(171, 53, 163, 0.45) !important;
}

.btn-primary:hover {
    background-color: rgba(171, 53, 163, 0.644) !important;
    transition: 0.3s ease-in-out;
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeInFromLeft 0.7s ease-in forwards;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #d7d7d7;
}

::-webkit-scrollbar-thumb {
    background: rgba(40, 92, 212, 0.26);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(40, 92, 212, 0.251);
}

.custom-card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(217, 217, 217, 0.189);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}