@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #27221fbb;
  opacity: 0.8;
  padding: 5px;
  color: #7a553d;
  z-index: 9999;
  transition: top 0.3s ease-in-out;

}

.menu-icon {
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #27221f;
  padding: 10px;
  list-style: none;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s, height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#menu-toggle:checked~.menu {
  display: block;
  opacity: 0.8;
  visibility: visible;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0s, height 0.3s ease-in-out;
}

.menu li {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  flex-grow: 1;
  text-transform: uppercase;
}

.menu a {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #222323;
}

::-webkit-scrollbar-thumb {
  background: #7a553d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c126bb5;
}

body {
  background-color: #27221f;
  color: aliceblue;
  background-image: url(assets/coffeebean.svg);
  padding: 0;
  margin: 0;
  padding: 1.5rem;
  font-family: 'Amatic SC', cursive;

}

/* Stack difference */
.polaroid-stack1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.polaroid-stack2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.polaroid-stack3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.polaroid-stack4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.polaroid-stack1 .polaroid,
.polaroid-stack2 .polaroid,
.polaroid-stack3 .polaroid,
.polaroid-stack4 .polaroid {
  position: relative;
  width: 200px;
  height: 250px;
  margin: 10px;
  transform: rotate(-3deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.track {
  height: 400px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.polaroid-stack5 {
  display: flex;
  flex-direction: row-reverse;
  width: calc(250px * 18);
  animation: scroll1 20s linear infinite;
}

.polaroid-stack5 .polaroid {
  position: relative;
  width: auto;
  height: 300px;
  margin: 10px;
  transform: rotate(-3deg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: carousel-animation 20s infinite linear;
}

.polaroid-stack5 .polaroid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.polaroid-stack5 .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  color: #27221f;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}

.polaroid:hover {
  transform: scale(1.1);
  transition: 0.7s ease-in-out;
  z-index: 1;
}

.polaroid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  color: #27221f;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  text-align: center;
  font-size: 4rem;
}

@media screen and (max-width:768px) {
  .polaroid {
    position: relative;
    width: 50%;
    height: auto;
    margin: 10px;
    transform: rotate(-3deg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }

  .caption {
    padding: 0.6rem;
    font-size: 1.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes carousel-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 9));
  }
}